body{
    background-color: #000000;
    
}

.email{
    border-radius:10px;
    padding-left: 5px;
    padding-bottom: 7px;
    background-color: white;
}

.pass{
    border-radius:10px;
    padding-left: 5px;
    padding-bottom: 7px;
    background-color: white;
}

#email{
    border: none;
    outline: none;
}

#pass{
    border: none;
    outline: none;
}

.mother{
    display: flex;
    flex-direction: column;
    border-top-left-radius: 40px;
    background-color: whitesmoke;
    padding: 15px;
    height: 400px;
    justify-content: space-between;
}

.button{
    height: 50px;
    background-color: #000000;
    border: none;
    outline: none;
    color: white;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.home{
    display: flex;
    flex-direction: column;
}

img{
   height:250px;
}


span{
    text-align: center;
    font-size: 30px;
}

.footer{
    text-align: center;
}


a{
    text-decoration: none;
    color: black;
}